<div class="profile">
  <div class="row">
    <div class="col-md-3">
      <h1>
        <p><%= @user.nom %></p><br />
        <%= gravatar_for @user %>
      </h1>
      <p>URL du profil :  <%= link_to user_path(@user), @user %></p><br />
      <p>Livres : <%= @user.books.count %></p>
    </div>
    <div class="col-md-9">
      <% unless @user.books.empty? %>
          <div class="livres" summary="Livres de l'utilisateur">
            <%= render @books %>
          </div>
          <%= will_paginate @books %>
      <% end %>
    </div>
  </div>



</div>