  <div class="book">
    <span class="titre">Titre : <%= book.titre %></span><br>
    <span class="auteur">Auteur : <%= book.auteur %></span><br>
    <% if book.borrowed_by? %>
    <span class="borrowed">Emprunté par : <%= book.borrowed_by %></span>
    <% end %>
  </div>
  <% if current_user?(book.user) %>
    <div>
      <%= link_to "supprimer", book, :method => :delete %>
      <%= link_to "editer", edit_book_path(book) %>
    </div>
  <% end %>